<li class="row new-tweet" id="tweet-{{id}}">
    <div class="avatar">
        <img src="http://lorempixel.com/100/100/">
        <div class="hover">
            <div class="icon-twitter"></div>
        </div>
    </div>
    <div class="bubble-container">
        <div class="bubble">
            <h3>@{{usuario}}</h3><br/>
            {{tweet}}
            <div class="over-bubble">
                <div class="icon-mail-reply action"></div>
                <div class="icon-retweet action"></div>
                <div class="icon-star"></div>
            </div>
        </div>
        <div class="arrow"></div>
    </div>
</li>
